#!/bin/zsh

function git_update() {
    if ! git diff-index --quiet HEAD --; then
        return true
    else
        return false
    fi
}

function check_repos() {
    for d in ./*/
    do
        cd "$d"
        echo "$d"
        git update-index -q --refresh
        if [[ -n `git status --porcelain` || -n $(git rev-list --left-right HEAD...@'{u}' 2>/dev/null) ]]; then
            git status -u
        fi
        cd ..
    done
}

function custom_vim() {
    local jobsresult=$(jobs)
    local jobsdir=$(jobs -d)
    local vimresult=$(echo $jobsdir | grep -n vim)
    if [[ $@ == '' &&  -f $PWD/.git/Session.vim ]]; then
        flags=' -S .git/Session.vim'
    else
        flags=''
    fi
    if [[ -n $vimresult ]]; then
        if [[ $(jobs -d | grep -B $vimresult[1,1] -oPm1 '(?<=\(pwd : ).*(?=\))') = $PWD ]]; then
            local jobnum=$(echo $jobsresult | grep -n vim)
            eval "fg %$jobnum[1,1]"
        else
            eval "vim $flags $@"
        fi
    else
        eval "vim $flags $@"
    fi
    return true
}

function getssl() {
    openssl s_client -showcerts -connect $1 </dev/null 2>/dev/null|openssl x509 -outform PEM >$2
}

function buildp() {
    mvn install -P$1; mcar
}

# fbr - checkout git branch (including remote branches)
fbr() {
  local branches branch
  branches=$(git branch --all --color=never | grep -v HEAD) &&
  branch=$(echo "$branches" |
           fzf --height=10 -d $(( 2 + $(wc -l <<< "$branches") )) +m) &&
  git checkout $(echo "$branch" | sed "s/.* //" | sed "s#remotes/[^/]*/##")
}

function installcar() {
    rm /mnt/c/Users/jzinkduda/apps/wso2esb-5.0.0/repository/deployment/server/carbonapps/${PWD##*/}*.car
    cp "`/bin/ls -dtr1 *_Deployment/target/* | tail -1`" /mnt/c/Users/jzinkduda/apps/wso2esb-5.0.0/repository/deployment/server/carbonapps/
}

# fco_preview - checkout git branch/tag, with a preview showing the commits between the tag/branch and HEAD
fco_preview() {
  local tags branches target
  branches=$(
    git --no-pager branch --all \
      --format="%(if)%(HEAD)%(then)%(else)%(if:equals=HEAD)%(refname:strip=3)%(then)%(else)%1B[0;34;1mbranch%09%1B[m%(refname:short)%(end)%(end)" \
    | sed '/^$/d') || return
  tags=$(
    git --no-pager tag | awk '{print "\x1b[35;1mtag\x1b[m\t" $1}') || return
  target=$(
    (echo "$branches"; echo "$tags") |
    fzf --no-hscroll --no-multi -n 2 \
        --ansi --preview="git --no-pager log -150 --pretty=format:%s '..{2}'") || return
  git checkout $(awk '{print $2}' <<<"$target" )
  zle reset-prompt;
}
