[credential]
    helper = store
[color "status"]
    changed = yellow
    untracked = red
[commit]
    verbose = true
    status = true
[push]
    default = simple
	autoSetupRemote = true
[grep]
    lineNumber = true
[core]
	excludesfile = ~/.cvsignore
	untrackedCache = true
	fsmonitor = true
	fsyncMethod = batch
[alias]
	conflicts = diff --name-only --diff-filter=U
	ctags = !.git/hooks/ctags
[user]
	email = zinkdudajoshua@gmail.com
	name = joshuazd
[pull]
	rebase = true
[init]
	templatedir = ~/.git_template
[rebase]
	autoStash = true
[maintenance]
	repo = /Users/joshua.zink-duda/portal
[checkout]
	workers = 0
	thresholdForParallelism = 100
