[credential]
    helper = store
[color "status"]
    changed = yellow
    untracked = red
[commit]
    verbose = true
    status = true
[push]
    default = simple
	autoSetupRemote = true
[grep]
    lineNumber = true
[core]
	excludesfile = ~/.cvsignore
[alias]
	conflicts = diff --name-only --diff-filter=U
	ctags = !.git/hooks/ctags
[user]
	email = jzinkduda@aurorasolar.com
	name = joshuazd
	signingKey = 6297145E
[pull]
	rebase = false
[init]
	templatedir = ~/.git_template
