*customization: -color

*VT100*colorMode: on
*VT100*dynamicColors: on
xterm*dynamicColors: true
urxvt*dynamicColors: on

! nier theme
# define bg #b4af9a
# define fg #45403a
! black
# define c_0 #45403a
! red
# define c_1 #bf4243
! green
# define c_2 #525643
! yellow
# define c_3 #5b5143
! blue
# define c_4 #4c5361
! purple
# define c_5 #614c61
! cyan
# define c_6 #465953
! white
# define c_7 #999483
! bright black
# define c_8 #777467
! bright red
# define c_9 #d75f5f
! bright green
# define c_10 #81895d
! bright yellow
# define c_11 #957f5f
! bright blue
# define c_12 #7382a0
! bright purple
# define c_13 #9c739c
! bright cyan
# define c_14 #5f8c7d
! bright white
# define c_15 #ffffff

!! material theme
!# define bg #262626
!# define fg #cccccc
!! black
!# define c_0 #1c1c1c
!! red
!# define c_1 #ff5f5f
!! green
!# define c_2 #87d787
!! yellow
!# define c_3 #ffd787
!! blue
!# define c_4 #6182b8
!! purple
!# define c_5 #c792ea
!! cyan
!# define c_6 #89ddff
!! white
!# define c_7 #bbbbbb
!! bright black
!# define c_8 #3e515b
!! bright red
!# define c_9 #d75f5f
!! bright green
!# define c_10 #87af87
!! bright yellow
!# define c_11 #ffaf5f
!! bright blue
!# define c_12 #82aaff
!! bright purple
!# define c_13 #945eb8
!! bright cyan
!# define c_14 #39adb5
!! bright white
!# define c_15 #ffffff




!special
*foreground:   fg
*background:   bg
*cursorColor:  #eeffff
/* urxvt*background: [90]#262626 */
/* XTerm*foreground:   #cccccc */
/* XTerm*background:   #262626 */
/* XTerm*cursorColor:  #eeffff */

!black
*color0:       c_0
*color8:       c_8
/* XTerm*color0:       #1c1c1c */
/* XTerm*color8:       #3e515b */

!red
*color1:       c_1
*color9:       c_9
/* XTerm*color1:       #e53935 */
/* XTerm*color9:       #ff5370 */

!green
*color2:       c_2
*color10:      c_10
/* XTerm*color2:       #c3e88d */
/* XTerm*color10:      #91b859 */

!yellow
*color3:       c_3
*color11:      c_11
/* XTerm*color3:       #ffb62c */
/* XTerm*color11:      #ffcb6b */

!blue
*color4:      c_4
*color12:       c_12
/* XTerm*color4:       #82aaff */
/* XTerm*color12:      #6182b8 */

!magenta
*color5:       c_5
*color13:      c_13
/* XTerm*color5:       #c792ea */
/* XTerm*color13:      #945eb8 */

!cyan
*color6:       c_6
*color14:      c_14
/* XTerm*color6:       #89ddff */
/* XTerm*color14:      #39adb5 */

!white
*color7:       c_7
*color15:      c_15
/* XTerm*color7:       #bbbbbb */
/* XTerm*color15:      #ffffff */


XTerm.termName: xterm-256color
XTerm*ttyModes: start ^- stop ^-
URxvt.termName: xterm-256color
URxvt*ttyModes: start ^- stop ^-

XTerm*faceName: DejaVu Sans Mono:size=10:antialias=true
URxvt*font: xft:Ubuntu Mono:size=11:antialias=true
/* URxvt*font: xft:DejaVu Sans Mono:size=10:antialias=true */

xterm*VT100*geometry: 120x35
xterm*scrollBar: false
xterm*title: XTerm
xterm*iconName: XTerm
xterm*saveLines: 50000
xterm*jumpScroll: true
xterm*scrollTtyOutput: false
xterm*utf8Title: true
XTerm*altIsNotMeta: true
XTerm*altSendsEscape: true
xterm*BorderWidth: 0

URxvt*geometry: 82x46
URxvt*scrollBar: false
URxvt*title: URxvt
URxvt*iconName: URxvt
URxvt*saveLines: 50000
URxvt*jumpScroll: true
URxvt*utf8Title: true
URxvt*modifier: alt
urxvt*internalBorder: 10
URxvt.lineSpace: 1
URxvt.letterSpace: -1
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true
URxvt.perl-ext-common: selection-to-clipboard

Xft.rgba: rgb
Xft.hintstyle: hintslight
/* urxvt*blurRadius: 20 */
/* urxvt*transparent: true */
/* urxvt*shading: 110 */
/* urxvt*tintColor: #262626 */

