! special
*.foreground:   #bbbbbb
*.background:   #263238
*.cursorColor:  #eeffff

! black
*.color0:       #263238
*.color8:       #3e515b

! red
*.color1:       #e53935
*.color9:       #ff5370

! green
*.color2:       #91b859
*.color10:      #c3e88d

! yellow
*.color3:       #ffb62c
*.color11:      #ffcb6b

! blue
*.color4:       #82aaff
*.color12:      #6182b8

! magenta
*.color5:       #c792ea
*.color13:      #945eb8

! cyan
*.color6:       #39adb5
*.color14:      #89ddff

! white
*.color7:       #bbbbbb
*.color15:      #ffffff
