*customization: -color

*VT100*colorMode: on
*VT100*dynamicColors: on

!special
XTerm*foreground:   #cccccc
XTerm*background:   #1c1c1c
XTerm*cursorColor:  #eeffff

!black
XTerm*color0:       #1c1c1c
XTerm*color8:       #3e515b

!red
XTerm*color1:       #e53935
XTerm*color9:       #ff5370

!green
XTerm*color2:       #c3e88d
XTerm*color10:      #91b859

!yellow
XTerm*color3:       #ffb62c
XTerm*color11:      #ffcb6b

!blue
XTerm*color4:       #6182b8
XTerm*color12:      #82aaff

!magenta
XTerm*color5:       #c792ea
XTerm*color13:      #945eb8

!cyan
XTerm*color6:       #39adb5
XTerm*color14:      #89ddff

!white
XTerm*color7:       #bbbbbb
XTerm*color15:      #ffffff


XTerm.termName: xterm-256color
XTerm*ttyModes: start ^- stop ^-

XTerm*faceName: DejaVu Sans Mono:size=10:antialias=true

xterm*VT100*geometry: 120x35
xterm*scrollBar: false
xterm*title: XTerm
xterm*iconName: XTerm
xterm*saveLines: 50000
xterm*jumpScroll: true
xterm*scrollTtyOutput: false
xterm*utf8Title: true
XTerm*altIsNotMeta: true
XTerm*altSendsEscape: true
