snippet sub "substring" w
substring($1)
endsnippet

snippet strlen "string-length" w
string-length($1)
endsnippet

snippet $ "" i
\$${1:body}
endsnippet

snippet gp "get-property" w
get-property('${1:property}')
endsnippet

snippet je "json-eval" w
json-eval(\$.${1:property})
endsnippet
