root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
local_vimrc = .local_vimrc

[*.md]
indent_size = 2

[{*.vim,vimrc}]
indent_size = 2

[{*.xml,*.dbs}]
indent_size = 2

[*.java]
indent_size = 4

[{*.yml,*.yaml}]
indent_size = 2

[{*.js,*.dmc}]
indent_size = 2

[{*.erb,*.rb,*.rake,Gemfile}]
indent_size = 2

[*.json]
indent_size = 2

[*.todo]
indent_size = 2

[{COMMIT_EDITMSG}]
spell_enabled = true
