<dblookup>
	<connection>
		<pool>
			<dsName>jdbc/${1:db name}</dsName>
		</pool>
	</connection>
	<statement>
		<sql>${2:SQL Statement}</sql>
		<parameter expression="${3:param expression}" type="${4:STRING}"/>
		<result name="${5:result}" column="${6:column}"/>
	</statement>
</dblookup>
