<xsl:template name="nilElement">
	<xsl:param name="value" />
	<xsl:choose>
		<xsl:when test="string(\$value)">
			<xsl:value-of select="\$value" />
		</xsl:when>
		<xsl:otherwise>
			<xsl:attribute name="xsi:nil" namespace="http://www.w3.org/2001/XMLSchema-instance">true</xsl:attribute>
		</xsl:otherwise>
	</xsl:choose>
</xsl:template>
